#cards {
    display: grid;
    grid-template-rows: 50vh;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* espaço entre os cards */
    box-sizing: border-box;
    padding: 60px 0
}

.botao-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 30px; /* arredonda a borda do card*/
    transition: 0.5s; /* meio segundo de transição */
}

.botao-card:hover{
    transform: scale(1.02); /* Aumenta o tamanho do card em 2% */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); /* cria uma sombra */
    color: white !important;
}

.bg-acervo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../fotos/livros.jpg);
    
}

.bg-cadastros {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../fotos/cadastros.jpg);
}

h1 {
    padding: 20px;
}

#btnControles {
    display: flex;
    gap: 4px;
    margin-bottom: 0;
}

/* estilização das abas */
.aba-botao {
    color: #333;
    background-color: #e0e0e0;
    border: 1px solid #b0b0b0;
    font-size: 14px;
    text-transform: uppercase;

    border-top-left-radius: 6px;/* arrendonda só a parte de cima*/
    border-top-right-radius: 6px;
    border-bottom: none; /* Tira a borda de baixo para emendar direto */

    transition: background 0.2s ease;
}

.aba-botao:hover {
    background-color: #d5d5d5;
}

.caixaBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 70vh;
    border: 1px solid #b0b0b0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: none;
    background-color: #e0e0e0;
}

.buttons {
    display: flex;
    margin: 50px;
    padding: 5px;
}

.tabela-scroll{
    max-height: 400px;
    overflow-y: auto;
    margin: 20px auto;
    width: 60%;
}

