#cards {
    display: grid;
    grid-template-rows: 50vh;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* espaço entre os cards */
    box-sizing: border-box;
    padding: 60px 0
}

.botao-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 30px; /* arredonda a borda do card*/
    transition: 0.5s; /* meio segundo de transição */
}

.botao-card:hover{
    transform: scale(1.02); /* Aumenta o tamanho do card em 2% */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); /* cria uma sombra */
    color: white !important;
}

.bg-acervo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../fotos/livros.jpg);
    
}

.bg-cadastros {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../fotos/cadastros.jpg);
}

h1 {
    padding: 20px;
}
